{% extends 'login_base.html' %}
{% load shn_filters %}
{% load i18n %}
{% load static %}


{% block login_content %}
    <h2 class="fw-bold mb-3">{% trans 'تایید شماره موبایل' %}</h2>
    <p class="mb-3">{% trans 'لطفا رمز یک‌بارمصرف ارسال شده به موبایل خود را وارد نمایید.' %}</p>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
        {% endfor %}
    {% endif %}
    <form class="{% if form.errors %} was-validated{% endif %}" action="{% url 'users:confirm-login' %}" method="post" novalidate>
        <a href="{% url 'users:send-otp-login' %}">{% trans 'دریافت رمز یک‌بارمصرف جدید' %}</a>
        <div>
            {% for non_field_error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ non_field_error }}
                </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <div class="form-outline mt-3">
            {{ form.otp|add_class:'form-control rounded-pill' }}
            {% for error in form.otp.errors %}
                <div class=" invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary mt-3 rounded-pill" type="submit">
                {% trans 'تایید' %}
            </button>
        </div>
    </form>
{% endblock %}