{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
    <section class="d-flex justify-content-center align-items-center min-vh-100 py-5 px-3"
             style="background: url({% static 'style/img/hero-bg.png' %}) center center no-repeat">
        <div class="one-col-form-width">
            <div class="text-center py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                {% block login_content %}

                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}