{% extends 'login_base.html' %}
{% load shn_filters %}
{% load i18n %}
{% load static %}


{% block login_content %}
    <h2 class="fw-bold mb-3">{% trans 'ثبت‌نام' %}</h2>
    <p class="mb-3">{% trans 'لطفا اطلاعات کاربری خود را وارد نمایید.' %}</p>
    <form class="{% if form.errors %} was-validated{% endif %}" action="{% url 'users:register' %}" method="post" novalidate>
        <div>
            {% for non_field_error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ non_field_error }}
                </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <div class="form-outline mt-3">
            {{ form.mobile|add_class:'form-control rounded-pill' }}
            {% for error in form.mobile.errors %}
                <div class=" invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-outline mt-3">
            {{ form.password1|add_class:'form-control rounded-pill' }}
            {% for error in form.password1.errors %}
                <div class=" invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-outline mt-3">
            {{ form.password2|add_class:'form-control rounded-pill' }}
            {% for error in form.password2.errors %}
                <div class=" invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary mt-3 rounded-pill" type="submit">
                {% trans 'ثبت‌نام' %}
            </button>
        </div>
    </form>
    <div>
        <a class="btn btn-link mt-3" href="{% url 'users:login' %}">
            {% trans 'ورود' %}
        </a>
    </div>
{% endblock %}