{% load i18n %}

<div class="d-flex justify-content-center">
    {% for child in descendant %}
        <div class="d-inline-block {% if not forloop.last %}me-4{% endif %}">
            <div class="d-flex justify-content-center px-4 py-2 border border-light rounded rounded-3 text-light bx-flip-vertical tree-descendant">
                <div class="btn-group me-3">
                    <button class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" role="button" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <a class="btn btn-outline-light" href="{% url 'persons:person-tree' pk=child.id %}" hx-boost="true" hx-target="#tree-container">
                        <i class="fa fa-tree"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <strong>{{ child.full_name }}</strong>
                </div>
            </div>
            <div>
                {% if child.descendant %}
                    {% include 'persons/person_tree_descendant.html' with descendant=child.descendant %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
