{% load i18n %}

<div class="">
    <div class="row gy-1 gx-3">
        <div class="col-6">
            {% if ancestors.father %}
                <div class="border rounded p-2 d-flex justify-content-center">
                    <span>{% trans 'پدر' %}: </span>{{ ancestors.father.full_name }}
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            {% if ancestors.mother %}
                <div class="border rounded p-2 d-flex justify-content-center">
                    <span>{% trans 'مادر' %}: </span>{{ ancestors.mother.full_name }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row gy-1 gx-3">
        <div class="col-6">
            {% if ancestors.father %}
                {% if ancestors.father.ancestors.items %}
                    {% include 'persons/person_tree_ancestors.html' with ancestors=ancestors.father.ancestors %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-6">
            {% if ancestors.mother %}
                {% if ancestors.mother.ancestors.items %}
                    {% include 'persons/person_tree_ancestors.html' with ancestors=ancestors.mother.ancestors %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
