{% extends 'form_base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
    <!-- Select2 bootstrap5 theme -->
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap-5-theme.rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'select2/shn.css' %}"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block form_content %}
    <h4>{% trans 'اطلاعات شخص' %}</h4>
    <hr class="mt-0">
    {% include 'persons/htmx/person_update_htmx.html' %}
{% endblock %}