{% extends 'bg_base.html' %}
{% load shn_filters %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block bg_content %}

    <section class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                        <h4>{% trans 'اطلاعات پدر' %}</h4>
                        <hr class="mt-0">
                        <div id="father-info">
                            {% if object.father %}
                                <div class="row g-2">
                                    <div class="col-md-6">
                                        <span>{% trans 'نام' %}: </span>{{ object.father.first_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <span>{% trans 'نام خانوادگی' %}: </span>{{ object.father.last_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <span>{% trans 'سال تولد' %}: </span>{{ object.father.birth_year }}
                                    </div>
                                </div>
                                {% if object.father.is_matching %}
                                    {% if object.father.relation_request_related.is_awaiting_similar %}
                                        <div class="text-center mt-3">
                                            <a class="btn btn-info" hx-boost="true" hx-target="#father-info"
                                               hx-swap="innerHTML"
                                               href="{% url 'persons:relation-request-select-similar' pk=object.father.relation_request_related.pk %}">
                                                <i class="fa-solid fa-info-circle"></i> {% trans 'تطابق اطلاعات پدر' %}
                                            </a>
                                        </div>
                                    {% elif object.father.relation_request_related.is_awaiting_confirmation %}
                                        <div class="text-center border border-success p-2 rounded mt-3">
                                            <i class="fa fa-hourglass-half text-success"></i> {% trans 'در انتظار تایید درخواست تطابق ...' %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="d-flex justify-content-center mt-3" id="father-info-actions">
                                        <a class="btn btn-info me-2"
                                           href="{% url 'persons:person-detail' pk=object.father.pk %}">
                                            <i class="fa-solid fa-info-circle"></i> {% trans 'جزئیات اطلاعات پدر' %}
                                        </a>
                                        <a class="btn btn-danger" href="{% url 'persons:person-delete-ancestors-confirmation' person_pk=object.pk pk=object.father.pk %}"
                                           hx-boost="true" hx-target="#father-info-actions" hx-swap="innerHTML">
                                            <i class="fa fa-minus-circle me-1"></i>{% trans 'خذف' %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="text-center">
                                    <a class="btn btn-primary"
                                       href="{% url 'persons:person-add-father' person_pk=object.pk %}"
                                       hx-boost="true" hx-target="#father-info" hx-swap="outerHTML">
                                        <i class="fa-solid fa-plus-circle me-1"></i>{% trans 'ثبت اطلاعات پدر' %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                        <h4>{% trans 'اطلاعات مادر' %}</h4>
                        <hr class="mt-0">
                        <div id="mother-info">
                            {% if object.mother %}
                                <div class="row g-2">
                                    <div class="col-md-6">
                                        <span>{% trans 'نام' %}: </span>{{ object.mother.first_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <span>{% trans 'نام خانوادگی' %}: </span>{{ object.mother.last_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <span>{% trans 'سال تولد' %}: </span>{{ object.mother.birth_year }}
                                    </div>
                                </div>
                                {% if object.mother.is_matching %}
                                    {% if object.mother.relation_request_related.is_awaiting_similar %}
                                        <div class="text-center mt-3">
                                            <a class="btn btn-info" hx-boost="true" hx-target="#mother-info"
                                               hx-swap="innerHTML"
                                               href="{% url 'persons:relation-request-select-similar' pk=object.mother.relation_request_related.pk %}">
                                                <i class="fa-solid fa-info-circle"></i> {% trans 'تطابق اطلاعات مادر' %}
                                            </a>
                                        </div>
                                    {% elif object.mother.relation_request_related.is_awaiting_confirmation %}
                                        <div class="text-center border border-success p-2 rounded mt-3">
                                            <i class="fa fa-hourglass-half text-success"></i> {% trans 'در انتظار تایید درخواست تطابق ...' %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="text-center mt-3">
                                        <a class="btn btn-info"
                                           href="{% url 'persons:person-detail' pk=object.mother.pk %}">
                                            <i class="fa-solid fa-info-circle"></i> {% trans 'جزئیات اطلاعات مادر' %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="text-center">
                                    <a class="btn btn-primary" hx-boost="true"
                                       href="{% url 'persons:person-add-mother' person_pk=object.pk %}"
                                       hx-target="#mother-info"
                                       hx-swap="outerHTML">
                                        <i class="fa-solid fa-plus-circle"></i> {% trans 'ثبت اطلاعات مادر' %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                        <h4>{% trans 'اطلاعات شخص' %}</h4>
                        <hr class="mt-0">
                        <div id="personal-info">
                            <div class="row row-cols-lg-4 row-cols-md-2 g-2">
                                <div class="col">
                                    <span>{% trans 'نام' %}: </span>{{ object.first_name }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'نام خانوادگی' %}: </span>{{ object.last_name }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'جنسیت' %}: </span>{{ object.get_gender_display }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'سال تولد' %}: </span>{{ object.birth_year }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'تاریخ تولد' %}: </span><span
                                        dir="ltr">{{ object.birth_date|default_if_none:'-' }}</span>
                                </div>
                                <div class="col">
                                    <span>{% trans 'محل تولد' %}: </span>{{ object.birth_place|default_if_none:'-' }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'سال مرگ' %}: </span>{{ object.death_year|default_if_none:'-' }}
                                </div>
                                <div class="col">
                                    <span>{% trans 'تاریخ مرگ' %}: </span><span
                                        dir="ltr">{{ object.death_date|default_if_none:'-' }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary" hx-boost="true"
                                   href="{% url 'persons:person-update' pk=object.pk %}" hx-target="#personal-info"
                                   hx-swap="outerHTML">
                                    <i class="fa-solid fa-edit"></i> {% trans 'ویرایش اطلاعات' %}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                        <h4>{% trans 'اطلاعات همسر' %}</h4>
                        <hr class="mt-0">
                        <div class="row row-cols-md-2 g-2">
                            {# TODO Handle husband #}
                            {% for spouse in object.spouses.all %}
                                <div class="col">
                                    <div class="p-3 border rounded">
                                        <div class="row row-cols-md-2 gx-1 gy-2">
                                            <div class="col">
                                                <span>{% trans 'نام' %}: </span>{{ spouse.first_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'نام خانوادگی' %}: </span>{{ spouse.last_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'جنسیت' %}: </span>{{ spouse.get_gender_display }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'سال تولد' %}: </span>{{ spouse.birth_year }}
                                            </div>
                                        </div>

                                        <div class="text-center mt-3">
                                            <a class="btn btn-info"
                                               href="{% url 'persons:person-detail' pk=spouse.pk %}">
                                                <i class="fa-solid fa-info-circle"></i> {% trans 'جزئیات اطلاعات همسر' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col">
                                <div class="py-3 px-2 border rounded">
                                    <div class="text-center">
                                        <a class="btn btn-primary" hx-boost="true"
                                           href="{% url 'persons:person-add-spouse' person_pk=person.pk %}"
                                           hx-target="this"
                                           hx-swap="outerHTML">
                                            <i class="fa-solid fa-plus-circle"></i> {% trans 'افزودن اطلاعات همسر' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="py-5 px-3 px-sm-5 shadow bg-light-blur rounded">
                        <h4>{% trans 'اطلاعات فرزندها' %}</h4>
                        <hr class="mt-0">
                        <div class="row row-cols-md-2 g-2">
                            {% for child in object.father_children.all %}
                                <div class="col">
                                    <div class="p-3 border rounded">
                                        <div class="row row-cols-md-2 gx-1 gy-2">
                                            <div class="col">
                                                <span>{% trans 'نام' %}: </span>{{ child.first_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'نام خانوادگی' %}: </span>{{ child.last_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'جنسیت' %}: </span>{{ child.get_gender_display }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'سال تولد' %}: </span>{{ child.birth_year }}
                                            </div>
                                        </div>

                                        <div class="text-center mt-3">
                                            <a class="btn btn-info"
                                               href="{% url 'persons:person-detail' pk=child.pk %}">
                                                <i class="fa-solid fa-info-circle"></i> {% trans 'جزئیات اطلاعات فرزند' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for child in object.mother_children.all %}
                                <div class="col">
                                    <div class="p-3 border rounded">
                                        <div class="row row-cols-md-2 gx-1 gy-2">
                                            <div class="col">
                                                <span>{% trans 'نام' %}: </span>{{ child.first_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'نام خانوادگی' %}: </span>{{ child.last_name }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'جنسیت' %}: </span>{{ child.get_gender_display }}
                                            </div>
                                            <div class="col">
                                                <span>{% trans 'سال تولد' %}: </span>{{ child.birth_year }}
                                            </div>
                                        </div>

                                        <div class="text-center mt-3">
                                            <a class="btn btn-info"
                                               href="{% url 'persons:person-detail' pk=child.pk %}">
                                                <i class="fa-solid fa-info-circle"></i> {% trans 'جزئیات اطلاعات فرزند' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col">
                                <div class="py-3 px-2 border rounded">
                                    <div class="text-center">
                                        <a class="btn btn-primary" hx-boost="true"
                                           href="{% url 'persons:person-add-child' person_pk=person.pk %}"
                                           hx-target="this"
                                           hx-swap="outerHTML">
                                            <i class="fa-solid fa-plus-circle"></i> {% trans 'افزودن اطلاعات فرزند' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}