{% extends 'form_base.html' %}
{% load i18n %}


{% block form_content %}
    <div class="alert alert-warning text-center">
        <h4><i class="fa fa-warning me-2"></i>{% trans 'عدم دسترسی!' %}</h4>
        <hr>
        <p>
            {% trans 'درخت‌خانوادگی شخص مورد نظر توسط کاربر دیگری ثبت شده‌است و شما دسترسی مشاهده آن را ندارید.' %}
        </p>
        <p>{% trans 'اسم و فامیلی شخص:' %} <b>"{{ person.full_name }}"</b></p>
        <p>
            {% trans 'جهت مشاهده درخت‌خانوادگی این شخص لازم است درخواست دسترسی ثبت کنید.' %}
        </p>
    </div>
    {% include 'persons/htmx/see_tree_permission_request_create_htmx.html' %}
{% endblock %}