<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="mb-md-0">
            <a href="/"><h3 class="text-uppercase">درخت‌خانوادگی</h3></a>
            <p>
                ما در درخت‌خانوادگی متعهد به حفظ و نگهداری داستان‌های خانوادگی هستیم. این پلتفرم به شما کمک می‌کند تا
                ریشه‌های خود را کشف کرده و ارتباط عمیق‌تری با گذشته برقرار کنید.
            </p>
        </div>
        <div class="social-links">
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-telegram"></i></a>
        </div>
        <div class="copyright">
            © 2024 تمام حقوق متعلق به
            <a class="text-dark" href="/">درخت‌خانوادگی</a>
            محفوظ است.
        </div>
    </div>
</footer>
<!-- End Footer -->