{% load shn_filters %}
{% load i18n %}


<h4>
    {% trans 'تغییر گذرواژه' %}
</h4>
<hr class="mt-0">
<form class="{% if form.errors %} was-validated{% endif %}" method="post" novalidate>
    {% csrf_token %}
    <div>
        {% for non_field_error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ non_field_error }}
            </div>
        {% endfor %}
    </div>
    <div>
        <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

        <fieldset class="module aligned wide">

            <div class="form-floating mt-3">
                {% include 'components/text_field_component.html' with field=form.old_password %}
            </div>

            <div class="form-floating mt-3">
                {% include 'components/text_field_component.html' with field=form.new_password1 %}
                {% if form.new_password1.help_text %}
                    <div class="help"{% if form.new_password1.id_for_label %}
                         id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="form-floating mt-3">
                {% include 'components/text_field_component.html' with field=form.new_password2 %}
                {% if form.new_password2.help_text %}
                    <div class="help"{% if form.new_password2.id_for_label %}
                         id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>

        </fieldset>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                {% trans 'Change my password' %}
            </button>
        </div>

    </div>
</form>