{% load jformat %}
{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>
    <span>{% trans 'لیست درخواست‌های تطابق وابستگان من' %} </span>
</h4>
<hr class="mt-0">
<div class="list-group" hx-boost="false">
    {% for object in object_list %}
        <div class="list-group-item list-group-item-action mt-2"
             aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ object.title }}</h5>
                <small>{{ object.created_at|jformat:'%A %d %B %Y %H:%M' }}</small>
            </div>
            <div class="mb-2">
                {% if object.similar_related_person %}
                    <b class="me-2">"{{ object.similar_related_person.full_name }} {% trans 'متولد سال' %} {{ object.similar_related_person.birth_year }}"</b>
                {% endif %}
                <b class="me-2">{{ object.get_relation_display }}</b>
                <a href="{% url 'persons:person-detail' pk=object.person.pk %}" target="_blank"
                   data-bs-toggle="tooltip" data-bs-title="{% trans 'مشاهده جزئیات و ویرایش' %}">
                    <b class="me-2">
                        "{{ object.person.full_name }} {% trans 'متولد سال' %} {{ object.person.birth_year }}"
                    </b>
                </a>
            </div>
            {% if object.status == status_choices.AWAITING_CONFIRMATION %}
                <div class="text-center border border-black p-2 rounded mt-2">
                    <i class="fa fa-hourglass-half text-black me-2"></i>{{ status_choices.AWAITING_CONFIRMATION.label }}
                </div>
            {% elif object.status == status_choices.AWAITING_SIMILAR %}
                <div class="text-center border border-warning p-2 rounded mt-2">
                    <i class="fa fa-hourglass-half text-warning me-2"></i>{{ status_choices.AWAITING_SIMILAR.label }}
                </div>
            {% elif object.status == status_choices.IS_DONE %}
                <div class="text-center border border-success p-2 rounded mt-2">
                    <i class="fa fa-check-circle text-success me-2"></i>{{ status_choices.IS_DONE.label }}
                </div>
            {% elif object.status == status_choices.REJECTED %}
                <div class="text-center border border-secondary p-2 rounded mt-2">
                    <i class="fa fa-warning text-secondary me-2"></i>{{ status_choices.REJECTED.label }}
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="list-group-item text-center">
            {% trans 'درخواستی برای شما وجود ندارد.' %}
        </div>
    {% endfor %}
</div>