{% load jformat %}
{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>
    <span>{% trans 'لیست اعلان‌ها' %} </span>
</h4>
<hr class="mt-0">
<div class="list-group" hx-boost="false">
    {% for object in object_list %}
        <div class="list-group-item list-group-item-action mt-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ object.title }}</h5>
                <small>{{ object.created_at|jformat:'%A %d %B %Y %H:%M' }}</small>
            </div>
            <p class="mb-1">{{ object.description }}</p>
        </div>
    {% empty %}
        <div class="list-group-item text-center">
            {% trans 'اعلانی برای شما وجود ندارد.' %}
        </div>
    {% endfor %}
</div>