{% load jformat %}
{% load i18n %}


{{ request.LANGUAGE_CODE }}
<h4>
    <span>{% trans 'لیست اعلان‌ها' %} </span>
</h4>
<hr class="mt-0">
<div class="list-group" hx-boost="false">
    {% for object in object_list %}
        <a href="{% url 'users:personal-info-profile' %}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ object.title }}</h5>
                <small>{{ object.created_at|jformat:'%A %d %B %Y %H:%M' }}</small>
            </div>
            <p class="mb-1">{{ object.description }}</p>
        </a>
    {% empty %}
        <div class="list-group-item text-center">
            {% trans 'اعلانی برای شما وجود ندارد.' %}
        </div>
    {% endfor %}
</div>