{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>
    <span>{% trans 'لیست اشخاص ثبت شده توسط من' %} </span>
</h4>
<hr class="mt-0">

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">{% trans 'نام و نام‌خانوادگی' %}</th>
            <th scope="col">{% trans 'جنسیت' %}</th>
            <th scope="col">{% trans 'سال تولد' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">
                    <a href="{% url 'persons:person-detail' pk=object.pk %}" target="_blank"
                       data-bs-toggle="tooltip" data-bs-title="{% trans 'مشاهده جزئیات و ویرایش' %}">
                    {{ object.full_name }}
                    </a>
                </th>
                <td>{{ object.get_gender_display }}</td>
                <td>{{ object.birth_year }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% url 'users:person-list' as page_url %}
{% include 'components/pagination.html' %}
