{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>{% trans 'اطلاعات شخصی' %}</h4>
<hr class="mt-0">
{% if person %}
    <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1 g-2">
        <div class="col">
            <span>{% trans 'نام' %}: </span>{{ person.first_name }}
        </div>
        <div class="col">
            <span>{% trans 'نام خانوادگی' %}: </span>{{ person.last_name }}
        </div>
        <div class="col">
            <span>{% trans 'جنسیت' %}: </span>{{ person.get_gender_display }}
        </div>
        <div class="col">
            <span>{% trans 'سال تولد' %}: </span>{{ person.birth_year }}
        </div>
        <div class="col">
            <span>{% trans 'تاریخ تولد' %}: </span><span dir="ltr">{{ person.birth_date|default_if_none:'-' }}</span>
        </div>
        <div class="col">
            <span>{% trans 'محل تولد' %}: </span>{{ person.birth_place|default_if_none:'-' }}
        </div>
        <div class="col">
            <span>{% trans 'سال مرگ' %}: </span>{{ person.death_year|default_if_none:'-' }}
        </div>
        <div class="col">
            <span>{% trans 'تاریخ مرگ' %}: </span><span dir="ltr">{{ person.death_date|default_if_none:'-' }}</span>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary me-2" href="{% url 'persons:person-detail' pk=person.pk %}" hx-boost="false">
            <i class="fa-solid fa-info-circle"></i> {% trans 'جرئیات و ویرایش' %}
        </a>
        <a class="btn btn-primary" href="{% url 'persons:person-tree' pk=person.pk %}" hx-boost="false">
            <i class="fa-solid fa-tree me-2"></i>{% trans 'درخت‌خانوادگی' %}
        </a>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        <h1>
            <i class="fa-solid fa-triangle-exclamation"></i>
        </h1>
        <p>{% trans 'اطلاعات شما در درخت‌خانوادگی یافت نشد.' %}</p>
        <p>{% trans 'شما می‌توانید از طریق لینک زیر خود را در درخت‌خانوادگی پیدا کنید.' %}</p>
        <a class="btn btn-primary" href="{% url 'persons:find-myself' %}" hx-boost="false">
            <i class="fa-solid fa-magnifying-glass"></i> {% trans 'جستجو در درخت‌خانوادگی' %}
        </a>
    </div>
{% endif %}