{% load i18n %}


{% if request.htmx %}
    <div id="profileNavList" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>{% trans 'اطلاعات شخصی' %}</h4>
<hr class="mt-0">
{% if person %}
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'persons:person-detail-myself' %}" hx-boost="false">
            <i class="fa-solid fa-magnifying-glass"></i> {% trans 'اطلاعات خانواده' %}
        </a>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        <h1>
            <i class="fa-solid fa-triangle-exclamation"></i>
        </h1>
        <p>{% trans 'اطلاعات شما در شجره‌نامه یافت نشد.' %}</p>
        <p>{% trans 'شما می‌توانید از طریق لینک زیر خود را در شجره‌نامه پیدا کنید.' %}</p>
        <a class="btn btn-primary" href="{% url 'persons:find-myself' %}" hx-boost="false">
            <i class="fa-solid fa-magnifying-glass"></i> {% trans 'جستجو در شجره‌نامه' %}
        </a>
    </div>
{% endif %}