{% load jformat %}
{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<h4>
    <span>{% trans 'لیست درخواست‌های دریافت دسترسی مشاهده درخت‌خانوادگی' %} </span>
</h4>
<hr class="mt-0">
<div class="list-group" hx-boost="false">
    {% for object in object_list %}
        <div class="list-group-item list-group-item-action mt-2"
             aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"></h5>
                <small>{{ object.created_at|jformat:'%A %d %B %Y %H:%M' }}</small>
            </div>
            <div class="mb-2">
                <span class="me-2">{% trans 'آیا به' %}</span>
                <b class="me-2">"{{ object.applicant.person.full_name }}"</b>
                <span class="me-2">{% trans 'اجازه می‌دهید درخت‌خانوادگی' %}</span>
                <a href="{% url 'persons:person-tree' pk=object.person.pk %}" target="_blank"
                   data-bs-toggle="tooltip" data-bs-title="{% trans 'مشاهده درخت‌خانوادگی' %}">
                    <b class="me-2">
                        "{{ object.person.full_name }}"
                    </b>
                </a>
                <span>{% trans 'را ببیند؟' %}</span>
            </div>
            {% if object.status == status_choices.AWAITING_APPROVE %}
                <form hx-post="{% url 'persons:see-tree-permission-request-approval' pk=object.pk %}"
                      hx-target="this" hx-swap="outerHTML"
                      novalidate>
                    {% csrf_token %}
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-success me-2" type="submit" name="is_approved" value="yes">
                            {% trans 'بله' %}
                        </button>
                        <button class="btn btn-secondary" type="submit" name="is_approved" value="no">
                            {% trans 'خیر' %}
                        </button>
                    </div>
                </form>
            {% elif object.status == status_choices.APPROVED %}
                <div class="text-center border border-success p-2 rounded mt-2">
                    <i class="fa fa-check-circle text-success me-2"></i>{{ status_choices.APPROVED.label }}
                </div>
            {% elif object.status == status_choices.REJECTED %}
                <div class="text-center border border-secondary p-2 rounded mt-2">
                    <i class="fa fa-warning text-secondary me-2"></i>{{ status_choices.REJECTED.label }}
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="list-group-item text-center">
            {% trans 'درخواستی برای شما وجود ندارد.' %}
        </div>
    {% endfor %}
</div>

{% url 'users:relation-matching-request-list' as page_url %}
{% include 'components/pagination.html' %}
