{% load i18n %}

<div id="delete-mother-confirmation">
    <div class="alert alert-warning text-center">
        <h1>
            <i class="fa-solid fa-triangle-exclamation"></i>
        </h1>
        <p>{% trans 'آیا از حذف این شخص مطمئن هستید؟' %}</p>
        <form hx-post="{% url 'persons:person-delete-descendant' pk=object.pk %}" hx-target="#delete-mother-confirmation"
              hx-swap="outerHTML">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger me-2" type="submit">
                    {% trans 'بله' %}
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    {% trans 'خیر' %}
                </button>
            </div>
        </form>
    </div>
</div>