<div class="position-absolute py-5 px-3 px-sm-5 d-flex justify-content-center align-items-center" id="tree-box">
    <div>
        <div class="bx-flip-vertical text-nowrap">
            {% include 'persons/person_tree_descendant.html' with descendant=object.get_descendant %}
        </div>
        <div class="text-nowrap">
            <div class="d-flex justify-content-center px-4 py-2 border border-light shadow text-dark rounded rounded-3 tree-person">
                <div class="btn-group me-3">
                    <button class="btn btn-outline-dark dropdown-toggle" role="button" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <strong>{{ object.full_name }}</strong>
                </div>
            </div>
        </div>
        <div class="text-nowrap">
            {% include 'persons/person_tree_ancestors.html' with ancestors=object.get_ancestors %}
        </div>
    </div>
</div>
