{% load shn_filters %}
{% load i18n %}

<div id="person-add-child">
    <form class="{% if form.errors %} was-validated{% endif %}"
          hx-post="{% url 'persons:person-add-child' person_pk=person.pk %}" hx-target="#person-add-child"
          hx-swap="outerHTML"
          novalidate>
        <div>
            {% for non_field_error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ non_field_error }}
                </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <div class="row row-cols-xl-2 row-cols-lg-1 row-cols-md-2 row-cols-1 g-2">
            <div class="col">
                <div class="form-floating">
                    {{ form.first_name|add_class:'form-control' }}
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {% for error in form.first_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ form.last_name|add_class:'form-control' }}
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {% for error in form.last_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ form.gender|add_class:'form-control' }}
                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                    {% for error in form.gender.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ form.birth_year|add_class:'form-control' }}
                    <label for="{{ form.birth_year.id_for_label }}">{{ form.birth_year.label }}</label>
                    {% for error in form.birth_year.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">
                {% trans 'ذخیره' %}
            </button>
        </div>
    </form>
</div>