{% load shn_filters %}
{% load i18n %}

<div id="relation-request-select-similar">
    <form class="{% if form.errors %} was-validated{% endif %}"
          hx-post="{% url 'persons:relation-request-select-similar' pk=object.pk %}"
          hx-target="#relation-request-select-similar" hx-swap="outerHTML"
          novalidate>
        <div>
            {% for non_field_error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ non_field_error }}
                </div>
            {% endfor %}
        </div>
        {% csrf_token %}
        <p>{% trans 'اطلاعات وارد شده در سامانه موجود است. لطفا اگر شخص مورد نظرتان در لیست زیر موجود است آن را انتخاب و درخواست تطابق خود را ثبت نمایید.' %}</p>
        <div class="form-floating">
            {{ form.similar_related_person|add_class:'form-control' }}
            <label for="{{ form.similar_related_person.id_for_label }}">{{ form.similar_related_person.label }}</label>
            {% for error in form.similar_related_person.errors %}
                <div class=" invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">
                {% trans 'ثبت' %}
            </button>
        </div>
    </form>
</div>