html {
    scroll-padding-top: 85px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #0563bb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(2, 39, 73, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(2, 39, 73, 1), rgba(17, 97, 232, 1))
}

.bg-light-blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-dark-blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-with-spinner {
    position: relative;
}

.btn-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#treeContainer {
    height: 75vh;
}

#treeBox {
    min-width: 100%;
    min-height: 100%;
}

.tree-person {
    background-color: #1bd0e3;
}

.tree-descendant {
    background-color: #0a6466;
}

.tree-ancestors {
    background-color: #0a6433;
}

@media (min-width: 576px) {
    .one-col-form-width {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .one-col-form-width {
        width: 100%;
    }
}

.profile-image {
    width: 85px;
    height: 85px;
}

.dropdown-menu-shn {
    max-height: 50vh;
}

@media (min-width: 576px) {
    .dropdown-menu-shn {
        width: 400px;
    }
}

@media (max-width: 576px) {
    .dropdown-menu-shn {
        position: fixed;
        right: 0 !important;
        left: 0 !important;
        top: auto !important;
    }
}
