{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
    <div style="background: url({% static 'style/img/hero-bg.png' %}) center center no-repeat">
        <section class="d-flex justify-content-center align-items-center min-vh-100 py-5 px-3">
            <div class="one-col-form-width">
                <div class="text-center shadow bg-light-blur rounded" hx-boost="true" hx-target="this">
                    {% block login_content %}

                    {% endblock %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}