{% load shn_filters %}
{% load i18n %}


{% if request.htmx %}
    <div id="profile-nav-list" hx-swap-oob="innerHTML">
        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
    </div>
{% endif %}


<div class="d-flex justify-content-between">
    <div>
        <h4>
            {% trans 'لیست اشخاص ثبت شده توسط من' %}
        </h4>
    </div>
    <div hx-boost="false">
        <a class="btn btn-outline-primary" href="{% url 'persons:person-create' %}">
            <i class="fa fa-plus me-2"></i>{% trans 'ثبت شخص جدید' %}
        </a>
    </div>
</div>

<hr>

<div>
    <form class="{% if filter_form.errors %} was-validated{% endif %}" novalidate
          hx-get="{% url 'users:person-list' %}" hx-target="#profile-content">
        <div>
            {% for non_field_error in filter_form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ non_field_error }}
                </div>
            {% endfor %}
        </div>
        <div class="row row-cols-md-2 row-cols-1 g-3">
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.first_name|add_class:'form-control' }}
                    <label for="{{ filter_form.first_name.id_for_label }}">{{ filter_form.first_name.label }}</label>
                    {% for error in filter_form.first_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.last_name|add_class:'form-control' }}
                    <label for="{{ filter_form.last_name.id_for_label }}">{{ filter_form.last_name.label }}</label>
                    {% for error in filter_form.last_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.nickname|add_class:'form-control' }}
                    <label for="{{ filter_form.nickname.id_for_label }}">{{ filter_form.nickname.label }}</label>
                    {% for error in filter_form.nickname.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.gender|add_class:'form-control' }}
                    <label for="{{ filter_form.gender.id_for_label }}">{{ filter_form.gender.label }}</label>
                    {% for error in filter_form.gender.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.birth_year|add_class:'form-control' }}
                    <label for="{{ filter_form.birth_year.id_for_label }}">{{ filter_form.birth_year.label }}</label>
                    {% for error in filter_form.birth_year.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.father_first_name|add_class:'form-control' }}
                    <label for="{{ filter_form.father_first_name.id_for_label }}">{{ filter_form.father_first_name.label }}</label>
                    {% for error in filter_form.father_first_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{ filter_form.mother_first_name|add_class:'form-control' }}
                    <label for="{{ filter_form.mother_first_name.id_for_label }}">{{ filter_form.mother_first_name.label }}</label>
                    {% for error in filter_form.mother_first_name.errors %}
                        <div class=" invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary me-2" type="submit">
                <i class="fa fa-search me-2"></i>{% trans 'جستجو' %}
            </button>
            <a class="btn btn-outline-secondary" href="{% url 'users:person-list' %}">
                <i class="fa fa-close me-2"></i>{% trans 'نمایش همه' %}
            </a>
        </div>
    </form>
</div>
<div class="list-group" hx-boost="false">
    <hr>
    {% for object in object_list %}
        <div class="list-group-item mt-2"
             aria-current="true">
            <div class="row row-cols-md-2 row-cols-1 gy-2 gx-3">
                <div class="col">
                    <span class="me-1">{% trans 'اسم' %}:</span>{{ object.first_name }}
                </div>
                <div class="col">
                    <span class="me-1">{% trans 'فامیلی' %}:</span>{{ object.last_name|default_if_none:'-' }}
                </div>
                <div class="col">
                    <span class="me-1">{% trans 'اسم مستعار' %}:</span>{{ object.nickname|default_if_none:'-' }}
                </div>
                <div class="col">
                    <span class="me-1">{% trans 'جنسیت' %}:</span>{{ object.get_gender_display }}
                </div>
                <div class="col">
                    <span class="me-1">{% trans 'سال تولد' %}:</span>{{ object.birth_year|default_if_none:'-' }}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-outline-primary me-2" href="{% url 'persons:person-detail' pk=object.pk %}" hx-boost="false"
                   target="_blank">
                    <i class="fa-solid fa-info-circle me-2"></i>{% trans 'جرئیات و ویرایش' %}
                </a>
                <a class="btn btn-outline-primary" href="{% url 'persons:person-tree' pk=object.pk %}" hx-boost="false"
                   target="_blank">
                    <i class="fa-solid fa-tree me-2"></i>{% trans 'شجره‌نامه' %}
                </a>
            </div>
        </div>
    {% empty %}
        <div class="list-group-item text-center">
            {% trans 'شخصی وجود ندارد.' %}
        </div>
    {% endfor %}
</div>

{% url 'users:person-list' as page_url %}
{% include 'components/pagination.html' %}
