{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#012">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-title" content="Sea White Diamond">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>{% trans 'شجره‌نامه' %}</title>
        <meta content="" name="description">
        <meta content="شجره‌نامه" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'style/img/favicon.png' %}" rel="icon">
        <link href="{% static 'style/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome-free-6.4.0-web/css/all.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'style/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'style/css/shn.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body dir="rtl" onhashchange="alert('aaaa')">

<div class="pt-5">
    {% block content %}
    {% endblock %}
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

{% block scripts %}

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/jquery-3.7.0.min.js' %}"></script>

    <!-- HTMX js file -->
    <script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>
    <script src="{% static 'vendor/htmx/ws.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'style/js/main.js' %}"></script>

{% endblock %}

</body>

</html>