{% extends 'bg_base.html' %}
{% load i18n %}
{% load static %}


{% block bg_content %}
    <section class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="px-3 py-2 mb-2 shadow bg-light-blur rounded">
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-thumbnail object-fit-contain profile-image rounded-circle"
                                     src="{{ user.image.url }}"
                                     alt="{% trans 'عکس پروفایل' %}" width="100">
                            </div>
                            <div class="col-8 d-flex align-items-center">

                                {{ user.mobile }}
                            </div>
                        </div>
                    </div>
                    <div id="profileNavList" class="list-group list-group-flush p-3 mb-2 bg-light-blur shadow rounded"
                         hx-boost="true"
                         hx-target="#profileContent">
                        {% include 'profile/htmx/profile_nav_list_htmx.html' %}
                    </div>
                    <div class="list-group list-group-flush p-3 bg-light-blur shadow rounded">
                        <a class="list-group-item list-group-item-action text-center"
                           href="{% url 'users:logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i> {% trans 'خروج' %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="profileContent" class="p-lg-5 p-sm-4 p-3 shadow bg-light-blur rounded" hx-boost="true"
                         hx-target="this">
                        {% block profile_content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
