{% extends 'index_base.html' %}
{% load i18n %}
{% load static %}


{% block index_content %}
    <section class="d-flex justify-content-center align-items-center min-vh-100"
             style="background: url({% static 'style/img/hero-bg.png' %}) center center no-repeat">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="px-3 py-2 mb-2 shadow bg-light-blur rounded">
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-thumbnail object-fit-contain profile-image rounded-circle"
                                     src="{{ user.image.url }}"
                                     alt="{% trans 'عکس پروفایل' %}" width="100">
                            </div>
                            <div class="col-8 d-flex align-items-center">

                                {{ user.mobile }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush p-3 mb-2 bg-light-blur shadow rounded" hx-boost="true" hx-target="#profileContent">
                        {% url 'users:personal-info-profile' as personal_info_url %}
                        <a class="list-group-item list-group-item-action{% if request.path == personal_info_url %} active{% endif %}"
                           href="{{ personal_info_url }}">
                            <i class="fa-solid fa-address-card"></i> {% trans 'اطلاعات شخصی' %}
                        </a>
                        {% url 'users:notifications-list-profile' as notifications_list_url %}
                        <a class="list-group-item list-group-item-action{% if request.path == notifications_list_url %} active{% endif %}"
                           href="{{ notifications_list_url }}">
                            <i class="fa-solid fa-bell"></i> {% trans 'لیست اعلان‌ها' %}
                        </a>
                        {% url 'users:change-password-profile' as change_profile_url %}
                        <a class="list-group-item list-group-item-action{% if request.path == change_profile_url %} active{% endif %}"
                           href="{{ change_profile_url }}">
                            <i class="fa-solid fa-key"></i> {% trans 'تغییر گذرواژه' %}
                        </a>
                    </div>
                    <div class="list-group list-group-flush p-3 bg-light-blur shadow rounded">
                        <a class="list-group-item list-group-item-action text-center"
                           href="{% url 'users:logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i> {% trans 'خروج' %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="profileContent" class="p-lg-5 p-sm-4 p-3 shadow bg-light-blur rounded" hx-boost="true"
                         hx-target="this">
                        {% block profile_content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
